*{
    border: 0;
    font-size: x-large;
}
header{

    background-color: #F2D8CE;
    color: #b38686;
    font-family: 'Borel', cursive;
    padding: 2.5rem;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    background-color: #F2D8CE;
}
h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    color: rgb(255, 255, 255);
    font-family: 'Borel', cursive;
    background-color: #8c84fa;
    text-decoration: underline;
    text-align: center;

}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    margin-left: 0.5rem;
}
p{
    margin-left: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    background-color:#b9a4e7;
    padding: 2.5rem;
    color: antiquewhite;
    text-align: center;
}
#scrum1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
#scrum img{

margin:auto;width: 60vw;
border: 0.2rem solid black;
border-radius: 15%;
margin-top: 1rem;
}
figure{
    text-decoration: dotted;
}
#ceremonias{
    margin-top: 0.5rem;
    justify-content: center;
}
#ceremoniasfig img{
width: 100%;
}
.marcosec { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.marco{
    background-color: #46aee970;
    border: 0.5em;
    border-color: #46aee970;
    border-style:unset;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.marco h3{
color: rgb(238, 234, 234);
text-decoration: underline;
}
.marco p{
    margin: 2.5rem;
}
#arte {
    text-align: center;
    background-color: #d39191;
    padding: 1rem;
    color:white;
}
nav{
    padding: 3rem;
    background-color: #edd4ca;
    color: white;
}
nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
nav a{
    color: white;
    background-color: rgb(140, 132, 250);
    text-decoration: none;
    padding: 1.4rem;

}
nav a:hover, nav a:focus{
    background-color: rgb(16, 17, 61);
}
#pre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}